/* Start Variabels */
:root {
    --main-color: #19c8fa;
    --transparent-color: rgb(15 116 143 / 70%);
    --section-padding: 60px;
    --pra-color: #777;
}

/* End Variabels */
/* Start Global Rules*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    font-family: system-ui, 'Segoe UI', Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul {
    list-style: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* End Global Rules*/
/* Start Components */
.main-heading {
    text-align: center;
}

.main-heading h2 {
    font-weight: normal;
    font-size: 40px;
    position: relative;
    margin-bottom: 70px;
    text-transform: uppercase;
}

.main-heading h2::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(51, 51, 51);
    height: 2px;
    width: 120px;
    bottom: -30px;
}

.main-heading h2::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 14px;
    width: 14px;
    border-radius: 50%;
    border: 2px solid rgb(51, 51, 51);
    bottom: -38px;
    background-color: rgb(255, 255, 255);
}

.main-heading p {
    width: 550px;
    margin: 0 auto 100px;
    max-width: 100%;
    line-height: 2;
    color: #777;
}

/* End Components */
/* Start Header*/
header {
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 2;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 108.75px;
    position: relative;
}

header .container::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 1px;
    left: 15px;
    background-color: #a2a2a2;
    width: calc(100% - 30px);
}

header .logo img {
    height: 60px;
    filter: invert(360);
    transition: .3s;
    border: 1px solid #fff;
    border-radius: 50%;
}

header .logo img:hover {
    scale: 1.2;
}

header nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header nav ul {
    display: flex;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    display: block;
    transition: .3s;
    padding: 40px 10px;
    position: relative;
    z-index: 2;
}

header nav ul li a.active,
header nav ul li a:hover {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

header nav .form {
    width: 40px;
    height: 30px;
    margin-left: 26px;
    margin-right: 30px;
    position: relative;
    border-left: 1px solid #fff;
}

header nav .form i {
    color: #fff;
    position: absolute;
    top: 50%;
    font-size: 20px;
    transform: translateY(-50%);
    right: 0;
}

header nav .toggle-menu {
    color: #fff;
    font-size: 30px;
}

/* End Header*/
/* Start Landing */
.landing {
    min-height: 100vh;
    background-color: var(--main-color);
    background: linear-gradient(#4536c97e, #8f67eb6c), url('../images/landing.jpg');
    background-size: cover;
    position: relative;
}

.landing .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 20%);
}

.landing .text {
    position: absolute;
    left: 0;
    top: 50%;
    color: #fff;
    transform: translateY(-50%);
    width: 50%;
    padding: 50px;
    background-color: var(--transparent-color);
    display: flex;
    justify-content: flex-end;
}

.landing .text .content {
    max-width: 500px;
    margin-left: 60px;
}

.landing .text .content h2 {
font-size: 32px;
    font-weight: normal;
    margin-bottom: 20px;
    line-height: 1.5;
}

.landing .text .content p {
    font-size: 18px;
    line-height: 2;
}

.landing .change-background {
    color: #ddd;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: .3s;
    width: 50px;
    text-align: center;
    border-radius: 20px;
}

@media (max-width:1044px) {
    .landing .change-background {
        font-size: 30px;
        width: 40px;
    }

    .landing .fa-angle-left {
        margin-top: 10px;
    }
}

.landing .fa-angle-left {
    left: 30px;
}

.landing .fa-angle-right {
    right: 30px;
}

.landing .change-background:hover {
    background-color: #ddd;
    color: #333;
}

.landing .bullets {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;
    display: flex;
}

.landing .bullets li {
    background-color: #FFF;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background-color: #000;
    border: 2px solid #FFF;
}

.landing .bullets li.active {
    background-color: var(--main-color);
}

/* End Landing */
/* Start Services */
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

@media (min-width:768px) {
    .services .services-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
        gap: 60px 40px;
    }
}

.services .srv-box {
    display: flex;
}

.services .srv-box i {
    margin-right: 50px;
    font-size: 45px;
}

@media (max-width:768px) {
    .services .srv-box {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 30px;
    }

    .services .srv-box i {
        margin: 0 0 30px;
    }
}

.services .srv-box h3 {
    margin-bottom: 30px;
    color: var(--main-color);
}

.services .srv-box p {
    line-height: 2;
    color: var(--pra-color);
    font-size: 20px;
}

/* End Services */
/* Start Design */
.design {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url('../images/design-features.jpg');
    height: 600px;
    display: flex;
    align-items: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.design::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
}

.design .text,
.design .images {
    position: relative;
    z-index: 2;
    flex: 1;
}

.design .images {
    text-align: center;
}

.design .images img {
    position: relative;
    bottom: -150px;
}

.design .text {
    color: #fff;
    background-color: var(--transparent-color);
    padding: 50px;
}

.design .text h2 {
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.design .text ul li {
    padding: 15px 0;
    font-size: 20px;
}

.design .text ul li::before {
    font-family: "Font Awesome 5 Free";
    content: "\e163";
    font-weight: 900;
    margin-right: 20px;
    position: relative;
    top: 1px;
}

/* End Design */
/* Start Portfolio */
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.portfolio .shuffle {
    display: flex;
    justify-content: center;
}

.portfolio .shuffle li {
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    transition: .3s;
    margin-right: 10px;
}

.portfolio .shuffle li:hover {
    background-color: var(--main-color);
    color: #FFF;
}

.portfolio .shuffle li.active {
    background-color: var(--main-color);
    color: #FFF;
}

.portfolio .imgs-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}

.portfolio .imgs-container .box {
    position: relative;
    overflow: hidden;
}

.portfolio .imgs-container .box:hover .caption {
    bottom: 0;
}

.portfolio .imgs-container .box:hover img {
    transform: rotate(5deg) scale(1.1);
}

.portfolio .imgs-container .box .caption {
    position: absolute;
    left: 0;
    padding: 20px;
    background-color: #FFF;
    width: 100%;
    transition: .3s;
    bottom: -100%;
}

.portfolio .imgs-container .box .caption h4 {
    font-weight: normal;
    margin-bottom: 10px;
}

.portfolio .imgs-container .box .caption p {
    color: var(--main-color);
}

@media (min-width:768px) {
    .portfolio .imgs-container .box {
        flex-basis: 50%;
    }
}

@media (min-width: 1199px) {
    .portfolio .imgs-container .box {
        flex-basis: 25%;
    }
}

.portfolio .imgs-container .box img {
    max-width: 100%;
    border-radius: 5px;
    transition: .3s;
}

.portfolio a.more {
    color: #FFF;
    background: var(--main-color);
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    padding: 15px 20px;
    width: fit-content;
    border-radius: 5px;
    text-transform: uppercase;
    transition: filter 0.3s;
    margin: 30px auto;
    display: block;
}

.portfolio a.more:hover {
    filter: drop-shadow(0px 5px 0px #333);
}

/* End Portfolio */
/* Start Video */
.video {
    position: relative;
}

.video::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 40%);
}

.video video {
    width: 100%;
}

.video .text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 50px;
    background-color: var(--transparent-color);
    text-align: center;
    color: #fff;
}

.video .text h2 {
    margin-bottom: 30px;
    font-weight: normal;
    text-transform: uppercase;
}

.video .text p {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
}

.video .text button {
    background-color: #123;
    text-transform: uppercase;
    padding: 15px 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    transition: .3s;
    cursor: pointer;
}

.video .text button:hover {
    background-color: #FFF;
    color: #123;
}

/* End Video */
/* Start About */
.about {
    padding-top: var(--section-padding);
    text-align: center;
    overflow: hidden;
}

.about img {
    position: relative;
    bottom: -120px;
    margin-top: -120px;
    max-width: 100%;
}

@media (max-width:767px) {
    .about img {
        bottom: -60px;
        margin-top: -60px;
    }
}

/* End About */
/* End Stats */
.stats {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
    background-image: url('../images/stats.png');
    background-size: cover;
    position: relative;
}

.stats::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
}

.stats .container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.stats .container .box {
    color: #FFF;
    padding: 50px;
    background-color: var(--transparent-color);
}

@media (max-width:767px) {
    .stats .container .box {
        flex-basis: 100%;
    }
}

@media (min-width:768px) {
    .stats .container .box {
        flex-basis: 50%;
    }
}

@media (min-width:992px) {
    .stats .container .box {
        flex-basis: 25%;
    }
}

.stats .container .box i {
    width: 40px;
    height: 40px;
    background-color: #123;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 30px;
    font-size: 20px;
}

.stats .container .box .number {
    font-size: 40px;
    font-weight: 600;
    margin: 0 auto 20px;
}

/* End Stats */
/* Start Skills */
.our-skills {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.our-skills .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (min-width:992px) {
    .our-skills .container>div {
        flex-basis: 45%;
    }
}

.our-skills .container>div>h3 {
    margin: 0 0 30px;
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
}

.our-skills .container>div>p {
    color: #777;
    line-height: 2;
    text-align: center;
    margin-bottom: 60px;
}

.our-skills .testimonials .content {
    display: flex;
    margin-bottom: 50px;
    align-items: center;
}

.our-skills .testimonials .content img {
    display: block;
    border-radius: 50%;
    width: 100px;
    margin-right: 50px;
    animation: glow-animation 5s linear infinite;
}

@keyframes glow-animation {
    0% {
        box-shadow: 0 0 10px #ff007f, 0 0 20px #ff007f, 0 0 30px #ff007f;
    }

    33% {
        box-shadow: 0 0 10px #00f0ff, 0 0 20px #00f0ff, 0 0 30px #00f0ff;
    }

    66% {
        box-shadow: 0 0 10px #7000ff, 0 0 20px #7000ff, 0 0 30px #7000ff;
    }

    100% {
        box-shadow: 0 0 10px #ff007f, 0 0 20px #ff007f, 0 0 30px #ff007f;
    }
}

@media (max-width:767px) {
    .our-skills .testimonials .content {
        flex-direction: column;
        text-align: center;
    }

    .our-skills .testimonials .content .image {
        display: inline-block;
        border-radius: 50%;
        padding: 4px;
    }

    .our-skills .testimonials .content img {
        margin: 0 auto 20px;
    }
}

.our-skills .testimonials .content .text {
    border-bottom: 1px solid #CCC;
    line-height: 1.6;
}

.our-skills .testimonials .content .text p {
    text-align: right;
    color: #777;
    margin-bottom: 10px;
}

.our-skills .testimonials .bullets {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.our-skills .testimonials .bullets li {
    border-radius: 50%;
    width: 14px;
    height: 14px;
    margin-right: 10px;
    border: 2px solid #AAA;
}

.our-skills .testimonials .bullets li.active {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.our-skills .skills .prog-holder {
    margin-bottom: 40px;
}

.our-skills .skills .prog-holder h4 {
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 15px;
}

.our-skills .skills .prog-holder .prog {
    background-color: #DEDADC;
    height: 30px;
}

.our-skills .skills .prog-holder .prog span {
    position: relative;
    background: var(--main-color);
    height: 100%;
    display: block;
}

.our-skills .skills .prog-holder .prog span::before {
    content: attr(data-progress);
    position: absolute;
    top: -40px;
    right: -18px;
    background-color: #000;
    color: #FFF;
    padding: 5px 0;
    text-align: center;
    border-radius: 5px;
    width: 40px;
}

.our-skills .skills .prog-holder .prog span::after {
    content: "";
    position: absolute;
    right: -8px;
    top: -11px;
    border: 8px solid;
    border-color: #000 transparent transparent;

}

/* End Skills */
/* Start Quote */
.quote {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url('../images/stats.png');
    background-size: cover;
    position: relative;
    text-align: center;
    color: #FFF;
}

.quote::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 75%);
}

.quote .container {
    position: relative;
}

.quote .container q {
    display: block;
    margin-bottom: 20px;
    font-size: 30px;
    position: relative;
}

.quote .container q::before {
    font-family: "Font Awesome 5 Free";
    content: "\f10d";
    font-weight: 600;
    font-size: 20px;
    position: absolute;
    top: -4px;
    left: -15px;
}

.quote .container q::after {
    font-family: "Font Awesome 5 Free";
    content: "\f10e";
    font-weight: 600;
    position: absolute;
    font-size: 20px;
}

.quote .container span {
    margin: 20px 0;
    font-size: 20px;
}

/* End Quote */
/* Start Pricing */
.pricing {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.pricing .plans {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
}

.pricing .plans .box {
    background-color: #FCFCFC;
    text-align: center;
    border-radius: 2px;
}


.pricing .plans .box .head {
    padding: 40px 20px;
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

.pricing .plans .box .head h3 {
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.pricing .plans .box .head span {
    font-size: 50px;
    font-weight: bold;
    position: relative;
}

.pricing .plans .box .head span::before {
    content: "$";
    font-size: 25px;
    font-weight: normal;
    position: relative;
    top: -40px;
    margin-right: 20px;
}

.pricing .plans .box .head span::after {
    content: "/Mo";
    position: relative;
    right: -15px;
    font-size: 25px;
    font-weight: normal;
}

.pricing .plans .box ul {
    border-bottom: 1px solid var(--main-color);
}

.pricing .plans .box ul li {
    position: relative;
    padding: 20px;
}

.pricing .plans .box ul li:not(:last-child)::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 120px;
    background-color: var(--main-color);
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

.pricing .plans .box .foot a,
.pricing .contact-link {
    display: block;
    padding: 20px 20px;
    color: #000;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    border: 1px solid var(--main-color);
    width: fit-content;
    margin: 30px auto;
    cursor: pointer;
    transition: .3s;
    border-radius: 10px;
}

.pricing .plans .box .foot a:hover,
.pricing .contact-link:hover {
    background-color: #123;
    color: var(--main-color);
    border: none;
    outline: none;
}

.pricing .contact-text {
    text-align: center;
    font-size: 20px;
    margin: 50px;
}

/* End Pricing*/
/* Start Subscribe*/
.subscribe {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url('../images/design-features.jpg');
    background-size: cover;
    position: relative;
    color: #FFF;
}

.subscribe::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);
}

.subscribe .container {
    position: relative;
    display: flex;
    align-items: center;
}

@media (max-width:991px) {
    .subscribe .container {
        flex-direction: column;
    }
}

.subscribe .container form {
    max-width: 100%;
    width: 500px;
    position: relative;
    display: flex;
}

.subscribe .container form i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 24px;
}

.subscribe .container form input[type="email"]:focus,
.subscribe .container form input[type="submit"]:focus {
    outline: none;
}

.subscribe .container form input[type="email"] {
    padding: 20px 20px 20px 60px;
    background: none;
    border: 1px solid #FFF;
    caret-color: var(--main-color);
    width: calc(100% - 130px);
    border-right: none;
}

.subscribe .container form input[type="submit"] {
    background: var(--main-color);
    width: 130px;
    color: #FFF;
    font-size: 20px;
    padding: 10px 20px;
    border: 1px solid #FFF;
    text-transform: uppercase;
    border-left: none;
}

.subscribe .container form ::placeholder {
    font-size: 15px;
    font-weight: 500;
    color: #FFF;
}

.subscribe .container p {
    line-height: 2;
    margin-left: 30px;
}

@media (max-width:991px) {
    .subscribe .container p {
        text-align: center;
        margin-top: 25px;
    }
}

/* End Subscribe*/
/* Start Contact*/
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.contact .content {
    display: flex;
    justify-content: space-between;
}

@media (max-width:767px) {
    .contact .content {
        flex-direction: column;
    }

}

.contact .content form {
    flex-basis: 70%;
}

.contact .content form .main-input {
    margin-bottom: 20px;
    border: 1px solid #CCC;
    width: 100%;
    display: block;
    padding: 20px;
    border-radius: 2px;
}

.contact .content form .main-input:focus {
    outline: none;
}

.contact .content form textarea.main-input {
    height: 200px;
}

.contact .content form input[type="submit"] {
    background-color: var(--main-color);
    padding: 20px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border: none;
    display: flex;
    margin-left: auto;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 2px;
}

@media (max-width:767px) {
    .contact .content form input[type="submit"] {
        margin: 30px auto 0;
    }
}

.contact .content .info {
    flex-basis: 25%;
}

@media (max-width:767px) {
    .contact .content .info {
        order: -1;
        text-align: center;
    }
}

.contact .content .info h4 {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

.contact .content .info .phone {
    margin-bottom: 10px;
    display: block;
    color: #777;
}

.contact .content .info h4:nth-of-type(2) {
    margin-top: 90px;
}

@media (max-width:767px) {
    .contact .content .info h4:nth-of-type(2) {
        margin-top: 30px;
    }
}

.contact .content .info address {
    line-height: 2;
    color: #777;
}

@media (max-width:767px) {
    .contact .content .info address {
        margin-bottom: 30px;
    }
}

/* End Contact*/
/* Start Footer*/
.footer {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url('../images/landing.jpg');
    background-size: cover;
    text-align: center;
    position: relative;
    color: #fff;
}

.footer::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);
}
.footer .container {
    position: relative;
}
.footer img {
    height: 60px;
    filter: invert(1);
    transition: .3s;
    border: 1px solid #fff;
    border-radius: 50%;
    margin-bottom: 20px;
}

.footer img:hover {
    scale: 1.1;
    rotate: 3deg;
}
.footer p:not(.copyright){
    font-size: 22px;
    text-transform: uppercase;
    padding: 20px;
    margin: 20px auto;
    border-bottom: 1px solid #FFF;
    width: fit-content;
}
.footer .social-icons i {
    padding: 10px 15px;

}
.footer .copyright {
    margin-top: 60px;
}
.footer .copyright span{
    color: var(--main-color);
    font-weight: bold;
}

/* End Footer*/





/* Medai */

@media (max-width:768px) {
    .services .srv-box p {
        width: 550px;
        font-size: 15px;
        max-width: 100%;
    }

    header nav ul li:not(:last-child) {
        border-bottom: 1px solid #000;
    }

    header nav ul {
        display: none;
    }

    .landing .text {
        width: 100%;
        margin-top: 15px;
    }

    .landing .text .content {
        max-width: 100%;
        text-align: center;
    }

    .landing .change-background {
        display: none;
    }

    header nav .toggle-menu:hover+ul {
        display: flex;
        position: absolute;
        width: 100%;
        left: 0;
        top: 100%;
        flex-direction: column;
        background-color: #615c5cc4;
    }

    header nav ul li a {
        text-align: center;
        padding: 15px !important;
    }

    .design .images {
        display: none;
    }

}

@media (min-width:768px) {
    .services .services-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
        gap: 60px 40px;
    }

    header nav .toggle-menu {
        display: none;
    }

    .container {
        width: 750px;
    }

}

@media (min-width:992px) {
    .container {
        width: 970px;
    }
}


@media (min-width:1200px) {
    .container {
        width: 1170px;

    }
}